
{% load static %}
{# Cargamos la librería #}
{% load bootstrap4 %}



{# CSS Bootstrap #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block extrajs %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>




{% endblock %}


<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sira"> 
    <title>Mentecobre </title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
	<link rel="stylesheet" href="/static/css/mentecobre/styles.css" />
	<link rel="stylesheet" href="/static/css/mentecobre/datatable-styles.css" />
	<link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.css" />
 
  </head>
  
<body class="m-auto bg-cover" style="background:url(/static/img/Sasori-wallpaper.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">

<div class="pagina" style="width:100%">
<div class="flex-wrapper">
{% include "topbar_part.html" %}


{% block content %}{% endblock %}


<!-- Footer -->
{% include "footer_part.html" %}
<div>
</div>
</body>
<script src = "/static/js/funcion_ajax.js"> </script>
	
	
	
</html>