            <!-- Footer -->
            <footer class='footer' style="background-color:#fe9601" >
			
                <div class="container-fluid">
					<div class="row">
                    <div class="copyright text-center col text-white">
                        <span>Copyright &copy; 2021 Cosmere.es</span>
                    </div>
                    <div class="copyright text-center col text-white">
                        <span>Desarrollado por Sira</span>
                </div>
                </div>
            </footer>
            <!-- End of Footer -->
