{% extends "base_template.html" %}
 {% load usergroups %}
 {% load static %}
{% block content %}
{% include 'messages.html' %}

<div id="content-wrapper" class="d-flex flex-column">
				<center>
				<table class="table table-bordered stripe text-center" id="gregoriotable" width="80%" >
						<thead>
							<th>Usuario</th>
							<th>Universo</th>
							<th>Artículos asignados</th>
							<th>Artículos traducidos</th>
							<th>Fecha último asignado</th>
							<th>Fecha último traducido</th>
							<th>Días pasados</th>
							<th>Estado</th>
							<th> Cotillear </th>
						</thead>
						<tbody>
						{% for index, row in resumenusuarios.iterrows %}
						<tr>
							<td> {{row.user}} </td>
							<td> {{row.universo}} </td>
							<td> {{row.artiasignado}}</td>
							<td> {{row.artitraducido}} </td>
							<td> {{row.fechaasignado}} </td>
							<td> {{row.fechatraducido}} </td>
							<td> {{row.diaspasados}} </td>
							<td> {{row.estado}} </td>
							<td>
							<form method="GET" id="form">
								{% csrf_token %}
								</form>
							<button onclick='mostrar_perfil("{{row.userid}}") ' title="Perfil" type="button" class="btn btn-primary">Perfil </button>		
							</td>
						</tr>
						{% endfor %}
						</tbody>
				</table>
								
				<div class="card" style="width: 60%">
					<div class = "card-body" >

						Los siguientes usuarios aún no tienen nada asignado:
						<ul>
						{% for user_saa in usuarios_saa %}
							{% if not user_saa|has_group:"Revisores" %}
								<li class="list-group-item text-center"> {{user_saa.username}} </li>
							{% endif %}
						{% empty %}
							<p>Parece que todos nuestros usuarios están trabajando. ¡Bien!</p>
							<p><img src="{% static 'img/tomaya.jpg' %}" width="500" alt="welldone" /></p>
						{% endfor %}
						</ul>
					</div>
				</div>
				
				{% if articulosinfechaasignado %}
					<div class="modal" id="gregoriomodal" tabindex="-1" role="dialog">
					  <div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						  <div class="modal-header text-white" style="background-color:#000000 ">
							<h5 class="modal-title">Vaya vaya...</h5>
							<button type="button" class="close" style="color:#ffffff; opacity:1" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body" style="text-align:left">
							<p>Parece que alguien se ha olvidado de algo... No sé... En ciertos artículos... ¿Cómo que no te acuerdas? ¿Me vas a hacer decirtelo?</p>
							<p>Ay el día que yo no esté... Anda, haz el favor de mirar en <p>
							{% for article in articulosinfechaasignado %}
								<p style="text-align:center"><b>{{article}}</b></p>
							{% endfor %}
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						  </div>
						</div>
					  </div>
					</div>
				{% endif %}
				
				<div id="perfilusuario" class="card shadow mb-4" style="width: 80%">

				</div>
				</center>

</div>
{% endblock %}

<script src = "/static/js/funcion_ajax.js"> </script>	
