{% extends "base_template.html" %}

{% block content %}




<div id="content-wrapper" class="d-flex flex-column">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div>
                       <center> <h1 class="text-WHITE">Revisión</h1> </center>

        </div>
		
		<div class="card-group">
			<div class ="card">
			<div class ="card-header">
			<a>Hola, {{usuario}} El artículo en el que estás trabajando es</a>
			</div>
			<div class ="card-body">
			{% if articulo %}
				<div class="div-table">
				{% for articulo_item in articulo %}
				<div class="form-tr">
				
				<span class="span-td-borde"><a href={{articulo_item.urlEn}} target="_blank" rel="noopener noreferrer">{{articulo_item.tituloEn}}</a></span> 
				<span class="span-td-borde"><a href={{articulo_item.urlEs}} target="_blank" rel="noopener noreferrer">{{articulo_item.tituloEs}}</a></span>
				<span class="span-td-borde">{{articulo_item.get_universo_display}}</span>
				<span class="span-td-borde">{{articulo_item.traductor}}</span>
				</div>
				<div class="form-tr">
				<span class="span-td-no-borde"><b>Notas:</b> {{articulo_item.notas}}</span>
				</div>
				 <form method="POST" id="form-traducido" class="form-tr">
						{% csrf_token %}
						<span class="span-td-no-borde">
						<select class="form-select" id="formrevisadoselect"> 
							<option selected disabled>Revisado?</option>
							<option value="Y">Sí</option>
						</select>
						</span>
						
						<span class="span-td-no-borde">
						<textarea name="notas" id="formtraducidonotas" >{{articulo_item.notas}}</textarea>
						</span>
						<span class="span-td-no-borde">
						
						<div class="form-check">
						{% if articulo_item.enlacecopperen == True %}
						<input type="checkbox" class="form-check-input" id="enlacecopperen" checked>
						{% else %}
						<input type="checkbox" class="form-check-input" id="enlacecopperen">
						{% endif %}
						<label class="form-check-label" for="enlacecopperen">Enlazada la CopperEn a la CopperEs</label>
						</div>
						
						</span>
					<button onclick='marcar_revisado($("#formrevisadoselect").val(), "{{articulo_item.id}}", $("#formtraducidonotas").val())'  class="btn bg-success btn-sm text-WHITE">Marcar como revisado</button>
					</span>
				</form>

				{% endfor %}

				</div>

			{% else %}
				<p>Oh vaya, no parece que estés trabajando ahora en nada</p>
			{% endif %}
			</div>
			</div>
			<div class ="card">
			<div class ="card-header">
			<a> El siguiente artículo disponible:</a>
			</div>
			<div class ="card-body">
			<div class="table-responsive-sm">
			<table class="table table-hover">
				<tbody>
				{% for siguiente_articulo_item in siguiente_articulo %}
				<tr>
				<td><a href={{siguiente_articulo_item.urlEn}} target="_blank" rel="noopener noreferrer">{{siguiente_articulo_item.tituloEn}}</a></td>
				<td><a href={{siguiente_articulo_item.urlEs}} target="_blank" rel="noopener noreferrer">{{siguiente_articulo_item.tituloEs}}</a></td>
				<td>{{siguiente_articulo_item.get_universo_display}}</td>
				<td>
				<form method="POST" id="form">
					{% csrf_token %}
					<button onclick='asignar_articulo_revision("{{siguiente_articulo_item.id}}")' class="bg-primary">Asignar</button>
				</form>
				</td>
				</tr>
			{% endfor %}
				</tbody>
			</table>
			</div>
			</div>
			</div>			
		</div>
				<div>
			<center> <h6 class="text-WHITE">Recuerda, si tienes alguna duda sobre el proceso, puedes consultarlo aquí: 
				<a class="text-info" href="https://sites.google.com/view/ayuda-traduccion-coppermind/inicio" target="_blank" rel="noopener noreferrer">Página de Ayuda</a>
			</h6> </center>	
		</div>
</div>
{% endblock %}


<script src = "/static/js/funcion_ajax.js"> </script>	
