{% extends "base_template.html" %}

{% block content %}




<div id="content-wrapper" class="d-flex flex-column" >
	<div class="container-fluid">

		<!-- Page Heading -->
		<div>
                       <center> <h1 class="text-WHITE">Glosario</h1> </center>

        </div>
		<div>
                      <center> <p1 class="text-WHITE"> Esta herramienta te permite consultar los términos en inglés y castellano.</p1> </center>
					  <center> <p1 class="text-WHITE"> Para más información, navega por la <a href="https://es.coppermind.net/">Coppermind</a> </p1> </center>

        </div>
		
		
		<form id="glosario-search-form" class="form-inline-search">
			<input id="q" name="q" type="text" class="input-sm form-control" placeholder="Search...">
			<input type="Submit" value="Search" type="button" class="btn btn-primary">
		</form>



	</div>
	<div class="container-fluid">
		<table id="dataTable" class="table table-bordered w-50 text-center"> 				
					<thead>
										<tr>
											<th scope="col">Inglés</th>
											<th scope="col">Español</th>
											<th scope="col">Universo</th>
										</tr>
										</thead>
						<tbody>
										{%for object in object_list %}
											<tr>
											<td><a href={{object.urlEn}}> {{object.wordEn}} </a></td>
											<td><a href={{object.urlEs}}> {{object.wordEs}} </a></td>
											<td>{{object.universo}}</td>
											

											</tr>
										{%endfor%}
						</tbody>
		</table>
	</div>
	<div class="container-fluid">
		<center> <p small class="text-white"><b>AVISO: Los términos relacionados con Nacidos de la bruma Era 2, Aliento de los dioses, Elantris y Arena Blanca así como otras sagas fuera del cosmere podrán sufrir/sufrirán cambios con el tiempo.</b></p> </center>
	</div>

</div>
{% endblock %}

<script type='text/javascript'>


		
$('#glosario-search-form').submit(function(e){
	e.preventDefault();
	var serializedData = $(this).serialize();
	console.log(serializedData)
	window.location.href = "?"+serializedData;
});


</script>
<script src = "/static/js/funcion_ajax.js"> </script>	