<!DOCTYPE html>
{% load static %}
{# Cargamos la librería #}
{% load bootstrap4 %}

{# CSS Bootstrap #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sira"> 
    <title>Mentecobre </title>
	<link rel="stylesheet" href="/static/css/login/login.css" />
		
  </head>

<body>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
                <div class="card border-0 shadow-lg my-5 myCard">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                                <div class="p-5">
								<div class="text-center">
                                        <h1 class="h4 text-gray-900">¿Y tu contraseña? ¿Has mirado bajo el sofá? Mira que como esté en el Reino Cognitivo...</h1>
								</div>				
                                        <p class="h6 text-gray-900">Si sigues sin encontrarla, por favor, contacta con Sira para que use su magia y la encuentre</p>
                                    
                                   

                                    <div class="text-center">
                                        <a class="h6 text-gray-900" href="{% url 'login'%}">¿La has encontrado? Entra por aquí</a>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>

            </div>

        

    </div>

</body>

</html>