.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  margin-top: auto;
}


.form-inline-search{

display: flex;
flex-direction: row;
align-items:center;

}

.nav-topbar{
display: flex;

padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.container-topbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.form-tr{
	display:table-row;
}

.span-td-borde{
  display:table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}

.span-td-no-borde{
  display:table-cell;
  padding: 0.75rem;
  vertical-align: top;
}

.div-table{
	    display: table;
    width: 100%;

}

.div-table2{
	display: table;
	 background-color: white;
	opacity: 0.8;
    width: 70%;
}

.counter{
    color: #555;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 150px;
    width: 150px;
    padding: 20px 15px 15px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    border-radius: 10px 10px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 75px;
    height: 75px;
    border: 10px solid #fe9601;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 10px;
    box-shadow: none;
    top: auto;
    left: -5px;
    bottom: -5px;
    right: auto;
}
.counter .counter-icon{
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: #555;
    font-size: 20px;
    font-weight: 600;
    line-height: 10px;
    margin: 0 0 10px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
}

@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}