.form-inline-search{

display: flex;
flex-direction: row;
align-items:center;

}

.nav-topbar{
display: flex;

padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.container-topbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.form-tr{
	display:table-row;
}

.span-td-borde{
  display:table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}

.span-td-no-borde{
  display:table-cell;
  padding: 0.75rem;
  vertical-align: top;
}

.div-table{
	    display: table;
    width: 100%;

}

.div-table2{
	display: table;
	 background-color: white;
	opacity: 0.8;
    width: 70%;
}